@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
}
<head>
    <title>Bootstrap Example</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>
    <div class="jumbotron text-center">
        <h1>Welcome to your project portal</h1>
        <p>Are you ready to begin!!</p>
    </div>
    <div class="container">
        <div id="myCarousel" class="carousel slide" data-ride="carousel">
            <!--Indicators-->
            <ol class="carousel-indicators">
                <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                <li data-target="#myCarousel" data-slide-to="1"></li>
                <li data-target="#myCarousel" data-slide-to="2"></li>
            </ol>

            <!--Wrapper for slides-->
            <div class="carousel-inner">
                <div class="item active">
                    <img src="~/Images/Churchill.jpg" style="width:100%" />
                </div>

                <div class="item">
                    <img src="~/Images/Project.jpg" style="width:100%" />
                </div>

                <div class="item">
                    <img src="~/Images/William.jpg" style="width:100%" />
                </div>
            </div>
        </div>

    </div>

    <div class="container">
        <div class="row">
            <div class="col-sm-4">
                <div class="thumbnail">
                    <h3>Phase 1: Planning</h3>
                    <a href='@Url.Action("Calendar","Home")'>
                        <img src="~/Images/calendar icon.jpg" />
                    </a>
                    <p>This is the first stage of your project management</p>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="thumbnail">
                    <h3>Phase 2: Organising</h3>
                    <a href='@Url.Action("Task","Home")'>
                        <img src="~/Images/Task.png" />
                    </a>
                    <p>This is the second stage of your project management</p>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="thumbnail">
                    <h3>Phase 3: Implementing & Collaborating</h3>
                    <a href='@Url.Action("ChatSystem","Home")'>
                        <img src="~/Images/Message-Chat-Icon-PNG-Image.png" />
                    </a>
                    <p>This is the third stage of your project management</p>
                </div>
            </div>
        </div>
    </div>
</body>



